In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [10]:
header = []
for i in range(2688):
    header.append(i + 1);
header.append('movimento')
data = pd.read_csv('color_features.csv', names=header)

In [11]:
data.head()

,1,2,3,4,5,6,7,8,9,10,...,2680,2681,2682,2683,2684,2685,2686,2687,2688,movimento
0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.023983,0.049603,0.000000,0.041967,0.022170,0.0,0.051275,0.049549,0.029363,NaN
1,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.031217,0.038223,0.001502,0.003894,0.041206,0.0,0.041321,0.042188,0.040895,NaN
2,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.017754,0.045626,0.000000,0.000000,0.047106,0.0,0.049683,0.051317,0.050151,NaN
3,0.028104,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.030768,0.038617,0.017283,0.000000,0.039232,0.0,0.041566,0.041364,0.029160,NaN
4,0.037689,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.020113,0.049678,0.044859,0.000000,0.000000,0.0,0.045116,0.050523,0.047284,NaN

In [42]:
for i in range(448):
    data['movimento'].values[i] = 'cubism'
for i in range(449, 895):
    data['movimento'].values[i] = 'express'
for i in range(896, 1391):
    data['movimento'].values[i] = 'impress'
for i in range(1392, 1829):
    data['movimento'].values[i] = 'realism'    
for i in range(1830, 2241):
    data['movimento'].values[i] = 'romanti'        
for i in range(2241, 2650):
    data['movimento'].values[i] = 'surreal'

In [47]:
data.to_csv('color_features_novo.csv', index=False)