In [13]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [14]:
header = []
for i in range(672):
    header.append(i + 1);
header.append('movimento')
data = pd.read_csv('csv/color_features_32.csv', names=header)

In [15]:
data.head()

,1,2,3,4,5,6,7,8,9,10,...,664,665,666,667,668,669,670,671,672,movimento
0,0.000000,0.0,0.0,0.000000,0.000000,0.019346,0.000000,0.0,0.000130,0.000000,...,0.000000,0.005642,0.065616,0.045650,0.074718,0.055232,0.074930,0.074140,0.073858,NaN
1,0.000000,0.0,0.0,0.001084,0.000000,0.019786,0.000000,0.0,0.003075,0.000000,...,0.000000,0.098548,0.079283,0.000000,0.000000,0.099168,0.000000,0.091917,0.000000,NaN
2,0.000000,0.0,0.0,0.004751,0.000000,0.017630,0.000000,0.0,0.000544,0.000000,...,0.000000,0.000000,0.067926,0.063938,0.077349,0.007715,0.077567,0.076771,0.076458,NaN
3,0.000000,0.0,0.0,0.000000,0.045538,0.039742,0.000000,0.0,0.005256,0.000000,...,0.019565,0.030511,0.079235,0.030145,0.081401,0.016900,0.083693,0.048155,0.039538,NaN
4,0.083702,0.0,0.0,0.000000,0.000000,0.052591,0.058039,0.0,0.002714,0.021816,...,0.000000,0.096303,0.081569,0.000000,0.000000,0.102030,0.000000,0.094567,0.000000,NaN

In [16]:
data['movimento'] = 'empty'

for i in range(389):
    data['movimento'].values[i] = 'cubism'
for i in range(389, 751):
    data['movimento'].values[i] = 'express'
for i in range(751, 1111):
    data['movimento'].values[i] = 'realism'
for i in range(1111, 1474):
    data['movimento'].values[i] = 'romanti'    
# for i in range(1829, 2241):
#     data['movimento'].values[i] = 'romanti'        
# for i in range(2241, 2650):
#     data['movimento'].values[i] = 'surreal'

In [18]:
data.to_csv('color_features_novo_32.csv', index=False)

In [17]:
data['movimento'].value_counts()

cubism     389
romanti    363
express    362
realism    360
Name: movimento, dtype: int64

In [17]:
data['movimento'][448]

'empty'